/* Globals */

html {
	text-align: center;	
	overflow-y: hidden;
	font-family: serif;
	background: url("Paradiso_Canto_31.jpg") center center/cover no-repeat;
}

a { color: #000000ff; }

h1 { margin: 0; }

h2 { font-size: 1.2em; }

img {
	width: 24px;
	height: 24px;
}

/* Classes and IDs */

.center-vh {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.content {
	padding: 40px;
	display: block;
	background-color: #ffffffa9;
	border: 4px double #000000ff;
}
