/* Globals */

html {
	text-align: center;
	font-family: Georgia, serif;
}

h1 { margin: 0; }

/* Classes and IDs */

.center {
	height: 84vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	padding: 32px;
	display: block;
	border: 4px double #000000ff;

}
