/* Globals */

html {
	text-align: center;
	vertical-align: center;
	font-family: Georgia, serif;
}

/* Classes and IDs */

.center {
	height: 160rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #000000ff;
}
